@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

body {
    font-family: Roboto, Helvetica, sans-serif;
}


nav {
    background-color: steelblue;
    display: block;
    padding:10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    font-family: 'Rock Salt', 'Bradley Hand', cursive;
    color: stelblue;
}

img {
    width: 150px;
    height: auto; 
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px; 
}
