main {
    max-width: 800px;
}

nav {
    background-color: #0B3D0B;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: #0B3D0B;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 20px gray;
}

p {
    padding: 0;
}

aside {
    width: 500px;
    margin: 50px;
    border: 3px solid #0B3D0B;
    border-radius: 10px;
    padding: 5px;
    background-color: #1E7A1E;
    color: #E9F5E9;
    font-size: 17px;
    text-align: center;
}

aside img {
    width: 230px;
    height: auto;
}

footer {
    margin-top: 90px;
    border-top: 2px dotted #0B3D0B;
    text-align: center;
}