:root {
    --background: rgba(10, 83, 10, 0.829);
    --border-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
}

h1 {
    color: green;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 1rem;
    margin-bottom: 100px;
}

aside {
    width: 400px;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 165px;
}

footer {
    margin-top: 50px;
    border-top: 1px dotted black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 2px solid black;
    padding: 1rem;
    background-color: var(--background);
    color: white;
}